.container-box{
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
    border: 1px solid black;
    width: 200px;
    height: 300px;
    margin:20px;
    border-radius: 10px;
    border: 5px solid white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: flex-end;
}

.box-end{
    height: 20px;
    width: 100%;
    background-color: white;
    color:black;
    font-weight: 600;
    text-transform: uppercase;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    transition: ease 0.1s;  
    flex-wrap: wrap;
    cursor: pointer;
}

h5{
    position: static;
    margin-top:4px;
}

.box-end:hover {
    height: 65px;
}

.box-inner{
    font-weight: 100;
    font-size: 13px;
    display:none;
}

.box-end:hover > .box-inner{
    height: 60px;
    display: flex;
    flex-direction: column;
    margin-bottom:50px;
}

.cart-button{
    opacity: 0;
    transition: opacity 0.15s ease;
    width: 100%;
    color:white;
    text-decoration: none;
    background-color: red;
    border-radius: 0px 0px 6px 6px;

}

.box-end:hover > .box-inner:hover >.cart-button{
   opacity: 1;
}

@media (max-width:700px) {
    .container-box{
        width: 180px;
        height: 290px;
    }
    .box-end{
        height: 65px;
    }
    .box-end> .box-inner{
        height: 60px;
        display:contents;
        margin-bottom: 10px;
    }

    .cart-button{
        display: block;
        opacity: 1;
        color:white;
        text-decoration: none;
        background-color: transparent;
        border-radius: 0px 0px 6px 6px;
    }
    .cart-button >p{
       color:red;
    }
}