.Products{
    height: 100%;
}

.Products > h1{
    text-align: center;
    color:#000000;
    transition: color ease 1s;
    margin-top:10%;
    font-size: 60px;
    font-weight: 600;
}

.Products > h3{
    color:white;
    font-weight: 100;
    text-align: center;
    margin-bottom: 5%;
    font-size: 22px;
}

h1.anim{
    color: white;
}

.container-products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.product-div{
   margin-left: 3%;
   margin-right: 3%;
}

@media (max-width:600px){
    .Products > h1{
        font-size: 30px;
        color:white;
    }
    .Products >h3{
        font-size: 15px;
    }
}