.InstaFeed{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    background-color: rgba(23,23,23,255);
    border-top: 1px grey inset;
}
.feed-container{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    overflow: hidden;
    justify-content: center;
    flex-direction: column;
}

.InstaFeed >.feed-container > p{
    color:whitesmoke;
    font-size: 20px;
}

/* carousel */
._2R-kh{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 100vw;
}

/* block */
._wPDyp{ 
    max-width: 200px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5), 0 0 5px 0 rgba(0, 0, 0, 0.59);
}

  @media (max-width:700px) {
    ._2R-kh{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100vw;
        overflow: hidden;
        position: relative;
    }

  }

