.card{
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.card.show{
    opacity: 1;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}